// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// colors 
// light mode 
$blue-bright: #0079FF;
$gray: hsl(217, 20%, 51%);
$blue-pale: #4B6A9B;
$gray-dark: #2B3442;
$gray-light: #F6F8FF;
$cream: #FEFEFE;

//dark mode 
$blue-bright: #0079FF;
$white: #FFFFFF;
$blue-dark: #141D2F;
$navy: #1E2A47; // $navy


// typography
$font-family: 'Space Mono', monospace;

$font-weight-bold: 700;
$font-weight-reg: 400;

$font-size-h1: 26px;
$font-size-h2: 22px;
$font-size-h3: 16px;
$font-size-h4: 13px;
$font-size-body: 15px;

$h1-line-height: 38px;
$h2-line-height: 33px;
$h3-line-height: 24px;
$h4-line-height: 20px;
$body-line-height: 25px;